/*fonts and colors*/
.upper, .footer {
    background-color: #1f2937;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color:#f9faf8
}

a {
    text-decoration: none;
}

.hero p, li {
    font-size: 18px;
    color: #e5e7eb
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color:white;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}